* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #f3f5f7;
}
a {
  text-decoration: none;
}
.noBorder {
  border: none !important;
}
.noRightMargin {
  margin-right: 0px !important;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.l {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 42px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0);
}
.header > .logo,
.header .nav,
.header .search,
.header .user {
  float: left;
}
.header > .nav > ul > li {
  display: inline-block;
  margin: 0 23px;
}
.header > .nav > ul > li a {
  color: black;
  display: inline-block;
  font-size: 18px;
  line-height: 42px;
  padding: 0 8px;
}
.header > .nav > ul > li a:hover {
  color: #00a4fe;
  border-bottom: 3px solid #00a4fe;
}
.header > .logo {
  width: 198px;
  height: 42px;
  margin-left: 2px;
  margin-right: 40px;
}
.header > .search {
  margin-left: 70px;
  height: 42px;
}
.header > .search input,
.header > .search button {
  display: inline-block;
  height: 42px;
}
.header > .search > button {
  width: 50px;
  border: 1px solid #00a4ff;
  margin-left: -6px;
  background-image: url(../IMG/btn.png);
}
.header > .search > input {
  position: relative;
  width: 360px;
  height: 40px;
  top: -16px;
  outline: 1px #00a4ff;
  border: 1px solid #00a4ff;
  background-color: #f3f5f7;
}
.header .user {
  margin-left: 10px;
  float: left;
  margin-top: 5px;
}
.header .user > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.header .user > a > img {
  vertical-align: middle;
}
.header .user > a > span {
  margin-left: 5px;
}
.header .user > a > span:hover {
  border-bottom: 2px solid #00a4ff;
}
.banner {
  height: 420px;
  background-color: #1c036c;
  background-image: url(../IMG/banner2_20190819_210028.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.banner > .banList {
  width: 1200px;
  margin: 0 auto;
}
.banner > .banList > .leftban {
  float: left;
  width: 190px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner > .banList > .leftban > ul li + li {
  border-top: 1px solid rgba(126, 124, 124, 0.5);
}
.banner > .banList > .leftban > ul > li {
  height: 45px;
  width: 150px;
  padding: 0px 20px;
  line-height: 45px;
}
.banner > .banList > .leftban > ul > li > a {
  display: block;
  height: 45px;
  width: 150px;
  font-size: 14px;
  color: white;
}
.banner > .banList > .leftban > ul > li > a > span {
  float: right;
}
.banner > .banList > .leftban > ul > li > a:hover {
  color: #00a4ff;
}
.banner > .banList > .rightban {
  width: 230px;
  float: right;
  height: 300px;
  background-color: #ffffff;
  margin-top: 50px;
}
.banner > .banList > .rightban > .myCurList {
  height: 49px;
  width: inherit;
  background-color: #9bceea;
}
.banner > .banList > .rightban > .myCurList > h3 {
  color: white;
  text-align: center;
  line-height: 49px;
  letter-spacing: 1px;
}
.banner > .banList > .rightban > .curList {
  height: 252px;
  width: inherit;
  background-color: #ffffff;
}
.banner > .banList > .rightban > .curList li {
  padding-left: 18px;
}
.banner > .banList > .rightban > .curList a {
  display: block;
  width: 190px;
  height: 40px;
  color: #4e4e4e;
  padding: 12px 0;
  border-bottom: 1px solid #eaeaea;
}
.banner > .banList > .rightban > .curList .noBottom {
  padding: 0;
  margin-top: 7px;
  border-bottom: none;
  height: 40px;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
}
.banner > .banList > .rightban > .curList .curList_p1 {
  font-size: 16px;
}
.banner > .banList > .rightban > .curList .curList_p2 {
  color: #b1b1b1;
  font-size: 12px;
}
.courseRecom {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  line-height: 60px;
  text-align: center;
  margin-top: 5px;
  box-shadow: 0px 1px 3px 3px #eaecee;
}
.courseRecom > ul {
  margin: 0px 20px;
}
.courseRecom > ul > li {
  float: left;
  height: 60px;
  vertical-align: middle;
}
.courseRecom > ul > li > a {
  border-left: 1px solid #bfbfbf;
  font-size: 16px;
  color: black;
  padding: 0 38px;
  height: 30px;
  line-height: 60px;
}
.courseRecom > a {
  color: #00a4ff;
  float: right;
  margin-right: 50px;
}
.recomList {
  width: 1200px;
  margin: 10px auto 0px auto;
}
.recomList > .box1 {
  padding-top: 20px;
  padding-bottom: 15px;
}
.recomList > .box1 > h3 {
  color: #6a6b6b;
  float: left;
}
.recomList > .box1 > a {
  color: #a7a7a7;
  float: right;
}
.recomContainer {
  width: 1200px;
  margin: 0 auto;
}
.recomContainer > ul > li {
  width: 228px;
  height: 270px;
  background: #ffffff;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px 5px rgba(223, 225, 227, 0.8);
}
.recomContainer > ul > li > a {
  color: #050505;
}
.recomContainer > ul > li > a > img {
  width: 100%;
}
.recomContainer > ul > li h4 {
  margin: 10px 13px;
  font-size: 14px;
  font-family: "微软雅黑", Courier, monospace;
}
.recomContainer > ul > li span {
  font-size: 12px;
}
.recomContainer > ul > li span:nth-of-type(1) {
  color: #ff8a43;
  margin-left: 13px;
}
.recomContainer > ul > li span:nth-of-type(2) {
  color: #999999;
}
.recomContainer > ul > li span:nth-of-type(3) {
  color: #999999;
}
footer {
  height: 472px;
  width: 100%;
  background-color: #ffffff;
}
footer > .endContainer {
  width: 1200px;
  margin: 0 auto;
}
footer > .endContainer > .endLeft {
  margin-top: 35px;
  width: 480px;
  font-size: 12px;
  float: left;
}
footer > .endContainer > .endLeft img {
  margin-bottom: 10px;
}
footer > .endContainer > .endLeft > p {
  margin: 3px 0px;
  color: #666666;
}
footer > .endContainer > .endLeft > a:nth-of-type(2) {
  display: block;
  width: 119px;
  height: 35px;
  border: 1px solid #00a4ff;
  line-height: 35px;
  text-align: center;
  color: #00a4ff;
  margin: 15px 0px;
}
footer > .endContainer > .endRight {
  float: right;
  margin-top: 35px;
}
footer > .endContainer > .endRight > div {
  float: right;
}
footer > .endContainer > .endRight > div > dl {
  margin-left: 100px;
}
footer > .endContainer > .endRight > div a {
  display: block;
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 2px;
}
footer > .endContainer > .endRight > div dt {
  font-size: 16px;
  color: #333;
}
